---
---
// Colors (https://www.materialui.co/colors)
$color-aka: #d32f2f;
$color-ao: #1976D2;
$color-clock-bg: #212121;
$color-clock-font: #FFEB3B;
$color-progressbar-bg: #616161;
$color-progressbar-past: #9E9E9E;
$color-progressbar-future: #E0E0E0;

.bg-color-aka {
  background-color: $color-aka !important;
}
.bg-color-ao {
  background-color: $color-ao !important;
}
.bg-color-time {
  background-color: $color-clock-bg !important;
}

#videoplayer {
    width: 100%;
    max-height: 500px;
}

.workspace {
    /*display: none;*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}


.fileselect input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.controls-group {
    margin: 10px;
    text-align: center;
}
.controls-buttons {
    display: inline-block;
}
.controls-buttons-spacer {
  display: inline-block;
  width: 20%;
}
.controls-progressbar-container {
    margin: 5px;
    padding: 80px 30px 30px;
    background-color: $color-progressbar-bg;
}
.controls-progressbar-progressbar {
    height: 5px;
    background-color: $color-progressbar-past;
}
.controls-progressbar-progressbar-timebar {
    height: 100%;
    background-color: $color-progressbar-future;
}
.controls-progressbar-progressbar-timebar-button {
    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    top: -8.5px; /* this buttons -height/2 + its container's height/2 */
    background-color: white;
    float: right;
}

.scoreboard {
  padding: 5px;
}
.scoreboard-points {
  font-size: 4em;
}
.scoreboard-clock {
  font-size: 4em;
  color: $color-clock-font !important;
}

/* Bugfixing the margin bugs in MDC */
.mdc-toolbar__title {
  margin-top: 0;
  margin-bottom: 0;
}
.mdc-toolbar-fixed-adjust {
  margin-top: 72px;
}
