---
---
// Colors
$color-aka: #d32f2f;
$color-ao: #1976D2;

.bg-color-aka {
  background-color: $color-aka !important;
}
.bg-color-ao {
  background-color: $color-ao !important;
}

#videoplayer {
    height: 500px;
    width: 500px;
}

.workspace {
    /*display: none;*/
}

.fileselect input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.controls-group {
    margin: 10px;
    text-align: center;
}
.controls-buttons {
    display: inline-block;
}
.controls-buttons-spacer {
  display: inline-block;
  width: 20%;
}
.controls-progressbar-container {
    margin: 5px;
    padding: 100px 50px;
    background-color: blue;
}
.controls-progressbar-progressbar {
    height: 5px;
    background-color: yellow;
}
.controls-progressbar-progressbar-timebar {
    height: 100%;
    background-color: red;
}
.controls-progressbar-progressbar-timebar-button {
    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    top: -8.5px; /* this buttons -height/2 + its container's height/2 */
    background-color: white;
    float: right;
}

/* Bugfixing the margin bugs in MDC */
.mdc-toolbar__title {
  margin-top: 0;
  margin-bottom: 0;
}
.mdc-toolbar-fixed-adjust {
  margin-top: 72px;
}
