---
title: "World Karate Federation (WKF) Karate Video Analysis Tool v0.1"
---
<head>
	<link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<html>
<body>
	{% include header.html %}
	  <main class="mdc-toolbar-fixed-adjust">
			{% include fileselect.html %}
			<div class="workspace">
				{% include videoplayer.html %}
				{% include controls.html %}
			</div>
	</main>
</body>
{% include js_includes.html %}
</html>
