<div id="controls">
	<div class="controls-group">
		<div class="controls-buttons">
			<div>
				<button class="mdc-button mdc-button--raised mdc-ripple-surface" id="controls-play"><i id="controls-play-icon" class="material-icons mdc-button__icon">play_arrow</i></button>
				<button class="mdc-button mdc-button--raised mdc-ripple-surface" id="controls-add-event">Add Event</button>
			</div>
		</div>
	</div>
	<div class="controls-group mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				{% include controls/buttons.html side="aka" %}
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				{% include controls/buttons.html side="ao" %}
			</div>
		</div>
	</div>

  {% include scoreboard.html %}

	<div class="controls-progressbar-container">
		<div class="controls-progressbar-progressbar">
			<div class="controls-progressbar-progressbar-timebar">
				<div class="controls-progressbar-progressbar-timebar-button"></div>
			</div>
		</div>
	</div>
	<div class="controls-events">
		<ul id="controls-events-list" class="mdc-list mdc-list--two-line">
		</ul>
	</div>
</div>
