<div id="controls">
	<div class="controls-buttons">
		<div>
			<button class="mdc-button mdc-button--raised mdc-ripple-surface" id="controls-play"><i id="controls-play-icon" class="material-icons mdc-button__icon">play_arrow</i></button>
			<button class="mdc-button mdc-button--raised mdc-ripple-surface" id="controls-add-event">Add Event</button>
		</div>
		<div>
			<button class="controls-buttons-point mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-points="1">AKA+1</button>
			<button class="controls-buttons-point mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-points="2">AKA+2</button>
			<button class="controls-buttons-point mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-points="3">AKA+3</button>
			<button class="controls-buttons-point mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-points="1">AO+1</button>
			<button class="controls-buttons-point mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-points="2">AO+2</button>
			<button class="controls-buttons-point mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-points="3">AO+3</button>
		</div>
		<div>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-category="1" data-level="1">AKA C1 1</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-category="1" data-level="2">AKA C1 2</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-category="1" data-level="3">AKA C1 3</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-category="1" data-level="4">AKA C1 4</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-category="1" data-level="1">AO C1 1</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-category="1" data-level="2">AO C1 2</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-category="1" data-level="3">AO C1 3</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-category="1" data-level="4">AO C1 4</button>
		</div>
		<div>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-category="2" data-level="1">AKA C2 1</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-category="2" data-level="2">AKA C2 2</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-category="2" data-level="3">AKA C2 3</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="aka" data-category="2" data-level="4">AKA C2 4</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-category="2" data-level="1">AO C2 1</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-category="2" data-level="2">AO C2 2</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-category="2" data-level="3">AO C2 3</button>
			<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface" data-side="ao" data-category="2" data-level="4">AO C2 4</button>
		</div>
	</div>

  {% include scoreboard.html %}

	<div class="controls-progressbar-container">
		<div class="controls-progressbar-progressbar">
			<div class="controls-progressbar-progressbar-timebar">
				<div class="controls-progressbar-progressbar-timebar-button"></div>
			</div>
		</div>
	</div>
	<div class="controls-events">
		<ul id="controls-events-list" class="mdc-list mdc-list--two-line">
		</ul>
	</div>
</div>
