<div id="controls">
	<div class="controls-group mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				{% include controls/buttons.html side="aka" %}
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				{% include controls/buttons.html side="ao" %}
			</div>
		</div>
	</div>

	<div class="controls-progressbar-container">
		<div class="controls-progressbar-progressbar">
			<div class="controls-progressbar-progressbar-timebar">
				<div class="controls-progressbar-progressbar-timebar-button"></div>
			</div>
		</div>
	</div>
	<div class="controls-events">
		<ul id="controls-events-list" class="mdc-list mdc-list--two-line">
		</ul>
	</div>
</div>
