<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/pubsub.js"></script>
<script type="text/javascript" src="js/videoplayer.js"></script>
<script type="text/javascript" src="js/controls.js"></script>
<script type="text/javascript" src="js/data.js"></script>
<script type="text/javascript" src="js/fileselect.js"></script>
<script type="text/javascript" src="js/view.js"></script>
<script type="text/javascript" src="js/scoreboard.js"></script>
<!-- <script type="text/javascript" src="js/storage.js"></script> -->
