<div id="scoreboard">
	<div class="controls-group mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
				<div class="scoreboard bg-color-aka">
					<div><b>Aka</b></div>
					<div><span class="scoreboard-points" id="scoreboard-aka-pt"></span></div>
					<div><b>C1: </b><span id="scoreboard-aka-c1"></span></div>
					<div><b>C2: </b><span id="scoreboard-aka-c2"></span></div>
				</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
				<div class="scoreboard bg-color-time">
					<div class="scoreboard-clock-filler">_</div>
					<div><span class="scoreboard-clock">00:00</span></div>
					<div class="scoreboard-clock-filler">_</div>
					<div class="scoreboard-clock-filler">_</div>
				</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
				<div class="scoreboard bg-color-ao">
					<div><b>Ao</b></div>
					<div><span class="scoreboard-points" id="scoreboard-ao-pt"></span></div>
					<div><b>C1: </b><span id="scoreboard-ao-c1"></span></div>
					<div><b>C2: </b><span id="scoreboard-ao-c2"></span></div>
				</div>
			</div>
		</div>
	</div>
</div>
