<div class="controls-buttons">
  <div>
  	<button class="controls-buttons-point bg-color-{{ include.side }} mdc-button mdc-button--raised mdc-ripple-surface" data-side="{{ include.side }}" data-points="1">+1</button>
  	<button class="controls-buttons-point bg-color-{{ include.side }} mdc-button mdc-button--raised mdc-ripple-surface" data-side="{{ include.side }}" data-points="2">+2</button>
  	<button class="controls-buttons-point bg-color-{{ include.side }} mdc-button mdc-button--raised mdc-ripple-surface" data-side="{{ include.side }}" data-points="3">+3</button>
  </div>
  <div>
  	<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface bg-color-{{ include.side }}" data-side="{{ include.side }}" data-category="1" data-level="1">C1-1</button>
  	<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface bg-color-{{ include.side }}" data-side="{{ include.side }}" data-category="1" data-level="2">C1-2</button>
  	<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface bg-color-{{ include.side }}" data-side="{{ include.side }}" data-category="1" data-level="3">C1-3</button>
  	<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface bg-color-{{ include.side }}" data-side="{{ include.side }}" data-category="1" data-level="4">C1-4</button>
  </div>
  <div>
  	<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface bg-color-{{ include.side }}" data-side="{{ include.side }}" data-category="2" data-level="1">C2-1</button>
  	<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface bg-color-{{ include.side }}" data-side="{{ include.side }}" data-category="2" data-level="2">C2-2</button>
  	<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface bg-color-{{ include.side }}" data-side="{{ include.side }}" data-category="2" data-level="3">C2-3</button>
  	<button class="controls-buttons-penalty mdc-button mdc-button--raised mdc-ripple-surface bg-color-{{ include.side }}" data-side="{{ include.side }}" data-category="2" data-level="4">C2-4</button>
  </div>
</div>
