<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<html>
<body>
	<h1>Video Analysis Tool</h1>
	<div>
		<input id="input" type="file" accept="video/*"/>
	</div>
	<video id="videoplayer" controls autoplay poster></video>
	<div id="controls">
		<button id="controls-play">Play/Pause</button>
	</div>
</body>
<script type="text/javascript" src="js/index.js"></script>
</html>
